@media (max-width: 767px) {
  .sg_block_tabs .sg_block_tabs-links {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 3rem;
    white-space: nowrap; } }
.sg_block_tabs .block-heading {
  padding-bottom: 3.2rem; }
  @media (min-width: 768px) {
    .sg_block_tabs .block-heading {
      padding-left: 25%;
      padding-bottom: 3.2rem; } }
  @media (min-width: 992px) {
    .sg_block_tabs .block-heading {
      padding-left: 16.6667%; } }
@media (max-width: 767px) {
  .sg_block_tabs .col-tabs {
    position: relative;
    overflow: hidden;
    height: 1.6rem;
    margin-right: -1.6rem;
    margin-bottom: 4rem; } }
@media (min-width: 768px) {
  .sg_block_tabs .col-tabs {
    float: left;
    width: 25%;
    padding-right: 4.8rem; } }
@media (min-width: 992px) {
  .sg_block_tabs .col-tabs {
    width: 16.6667%; } }
@media (max-width: 767px) {
  .sg_block_tabs .sg_block_tabs-link {
    display: inline-block; }
    .sg_block_tabs .sg_block_tabs-link:last-child .tab-link {
      margin-right: 1.6rem; } }
.sg_block_tabs .sg_block_tabs-link.active .tab-link {
  color: var(--violet); }
@media (max-width: 767px) {
  .sg_block_tabs .sg_block_tabs-link + .sg_block_tabs-link {
    margin-left: 1.6rem; } }
@media (min-width: 768px) {
  .sg_block_tabs .sg_block_tabs-link + .sg_block_tabs-link {
    margin-top: .8rem; } }
.sg_block_tabs .tab-link {
  display: block;
  color: var(--darkgrey);
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-decoration: none; }
  .sg_block_tabs .tab-link:hover {
    color: var(--violet); }
@media (min-width: 768px) {
  .sg_block_tabs .col-tab-contents {
    padding-left: 25%; }
  .sg_block_tabs .link-all {
    margin-top: 3.2rem;
    white-space: normal; } }
@media (min-width: 992px) {
  .sg_block_tabs .col-tab-contents {
    padding-left: 16.6667%; } }
