!/superdock
/superdock/certificate
/superdock/database
!.env.local
!.env.staging
.env.preproduction
.env.production
node_modules
/vendor
/.temp
.idea
yarn-error.log

/public/*
!/public/wp-config.php
!/public/*
!/public/wp-admin
!/public/wp-includes
!/public/wp-content
/public/wp-content/*

!/public/wp-content/mu-plugins

!/public/wp-content/plugins
# /public/wp-content/plugins/*
!/public/wp-content/plugins/global-shop-discount-for-woocommerce-pro
!/public/wp-content/plugins/linotype
!/public/wp-content/plugins/polylang-pro
!/public/wp-content/plugins/polylang-wc
!/public/wp-content/plugins/woo-product-variation-gallery

!/public/wp-content/themes
/public/wp-content/themes/*
!/public/wp-content/themes/blank
!/public/wp-content/themes/sensiogrey_theme_marchi

!/public/wp-content/linotype