.linotype_field_container-info-bg_image {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  border-radius: 50%; }
