.linotype_block_columns.relative {
  position: relative;
}
.linotype_block_columns.absolute-top {
  position: absolute;
  z-index: 1;
  top:0px;
  left:0px;
  right:0px;
}
.linotype_block_columns.absolute-bottom {
  position: absolute;
  z-index: 1;
  left:0px;
  right:0px;
  bottom:0px;
}
.linotype_block_columns.absolute-left {
  position: absolute;
  z-index: 1;
  top:0px;
  left:0px;
  bottom:0px;
}
.linotype_block_columns.absolute-right {
  position: absolute;
  z-index: 1;
  top:0px;
  right:0px;
  bottom:0px;
}